$white: #fff;
$dark-violet: #525576;
$grey: #727b8f;
$lightgrey: #d4d7dd;
$altGrey: #f8f8f8;
$pink: #fa3679;

$background-color-leftMenu: $dark-violet;
$background-color-main: $white;
$backgroun-color-menu: $altGrey;

$text-color-main: $white;
$text-color-menuLeft: $grey;
$text-color-menuRight: $grey;

$font-size-h1: 1.6em;
$font-size-h2: 1.4em;

